Sigo.WebApi.DataEntities/bin/
Sigo.WebApi.DataEntities/obj/
Sigo.WebApi.DataProvider/obj/
Sigo.WebApi.Services.Impl/obj/
Sigo.WebApi.Services/obj/
Sigo.WebApi.Utils/bin/
Sigo.WebApi.Services/bin/
Sigo.WebApi.Services.Impl/bin/
Sigo.WebApi.DataProvider/bin/
Sigo.WebApi.Utils/obj/
Sigo.WebApi/bin/
Sigo.WebApi/Logs/
Sigo.WebApi/obj/
